body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

#imagem-container {
    max-width: 800px; 
    width: 100%; 
    background-color: #A9D1A9; 
}

.imagem-responsiva {
    width: 100%;
    height: auto;
    display: block; 
}

.media-control {
    display: block;
}

.video-responsivo {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.espacamento {
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
}