[submodule "7ª Período/TOPICOS-ESPECIAIS-EM-INTELIGENCIA-ARTIFICIAL/topicos-ia-projeto-final"]
	path = 7ª Período/TOPICOS-ESPECIAIS-EM-INTELIGENCIA-ARTIFICIAL/topicos-ia-projeto-final
	url = git@github.com:victorvcruz/topicos-ia-projeto-final.git
