section {
  width: 262px;
  min-height: 382px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding-top: 16px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 64px;
}

section .info-livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

section .info-livro > * {
  margin: 8px;
}

.texto-h2 {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 26px;
  text-align: center;
  max-width: 90%;
}

.texto-h3 {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--color-secundaria);
}

section img {
  width: 128px;
  height: 184px;
  margin-bottom: 20px;
}

.favorito-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: #ff5252;
  padding: 0;
  outline: none;
}

.favorito-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}