<section class="cabecalho">
  <app-titulo class="link" texto="Minhas leituras" routerLink="/lista-livros" />
  <app-divisor tamanho="linha-destaque--grande" />
</section>
<section class="formulario">
  <form [formGroup]="livroFormulario" (ngSubmit)="emitirLivroAtualizado()">
    <app-subtitulo texto="Preencha os dados para criar o card do livro" />
    <div>
      <app-campo-texto label="Título" id="titulo" placeholder="Digite o título do livro" formControlName="titulo" />
      <app-campo-texto label="Autoria" id="autoria" placeholder="Digite a autoria do livro" formControlName="autoria" />
      <app-lista-suspensa label="Gênero" id="genero" formControlName="genero" />
      <app-campo-texto label="Imagem" id="imagem" placeholder="Informe o endereço da imagem" formControlName="imagem" />
    </div>
    <app-botao tipo="submit" texto="Salvar" />
  </form>
</section>
