section {
  width: 262px;
  min-height: 400px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding-top: 16px;
  border-top: 24px solid;
}

.romance {
  border-color: #82CFFA;
}

.misterio {
  border-color: #A6D157;
}

.fantasia {
  border-color: #E06B69;
}

.ficcao-cientifica {
  border-color: #DB6EBF;
}

.tecnicos {
  border-color: #FF8A29;
}

section .info-livro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

section .info-livro > * {
  margin: 8px;
}

.texto-h2 {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 26px;
  text-align: center;
  max-width: 90%;
}

.texto-h3 {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--color-secundaria);
}

section .imagem {
  margin-top: 32px;
}

section img {
  width: 128px;
  height: 184px;
  margin-bottom: 20px;
}

.favorito-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: #ff5252;
  padding: 0;
  outline: none;
}

.favorito-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.acoes {
  display: flex;
  justify-content: space-between;
}
